<table border="1">
    <tr>
        <th>Name</th>
        <th>X</th>
        <th>Y</th>
        <th>Actions</th>
    </tr>
    <% for(var key in players) { %>
        <tr>
            <th><%= players[key].name %></th>
            <th><%= players[key].x %></th>
            <th><%= players[key].y %></th>
            <th>
                <form style="display: inline-block;" action="/game/play" method="POST">
                    <button name="id" value="<%= players[key].id %>">Play</button>
                </form>
            </th>
        </tr>
    <% } %>
</table>
